<%#= Time.now.strftime("%d/%m/%Y") %>
<div class="row">
	<div class="col-md-8">
		<h1>Appointments</h1>
	</div>
	<div class="col-md-3">
		<%#= text_field(:appointmentType, :name => 'appointmentType', :value => '2018-07-18') %>
		<!--  cia reikes padaryti kad veiktu ta forma normaliai
		pradziai reikia pasidaryti kad rodytu normaliai apointmentus pagal data -->
		<%#= form_for([@appointment.build]) do |f| %>
		
		<%#= f.date_field(:date, :value => Time.now.strftime('%Y-%m-%d'), :name => 'date_field', :class => 'form-control') %>
		<%#= f.submit({'hh', :class => 'btn btn-default'}) %>
		<%#= f.submit "Create" %>
		<form class="navbar-form" role="search">
			<div class="custom-search-input">
				<div class="form-group">
					<%= form_tag(appointments_path, method: "get", id: "search-date-form") do %>
						<%= date_field :search, params[:search], class: "form-control" %>
						<%= button_tag(class: "btn btn-info btn-lg", type: "submit") do %>
							<i class="glyphicon glyphicon-search"></i>
						<% end %>
					<% end %>
				</div>
			</div>
		</form>
		
	</div>
	<div class="col-md-1">
		
			<%#= f.submit "Show", {class: 'btn btn-default'} %>
		
		<% #end %>
	</div>
</div>
<div class="well">
	<table class="table">
		<thead class="thead-dark">
		    <tr>
		    	<th scope="col">Time</th>
		    	<th scope="col">Date</th>
		      	<th scope="col">Appontment Type</th>
		      	<th scope="col">Description</th>
		    </tr>
		</thead>
		<tbody>
			<% @appointment.order(:hours).each do |appointment| %>

				<tr>
			    	<td><%= appointment.hours %>:<%= appointment.minutes %></td>
			    	<td><%= appointment.date.strftime('%d-%m-%Y') %></td>
			    	<td></td>
			    	<td><strong>Description:</strong> <%= appointment.description %></td>
			    </tr>
		    <% end %>
		    <!--<tr>
		    	<td>08:00</td>
		    	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>09:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>10:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>11:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>12:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>13:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>14:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>15:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>16:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		    <tr>
		      	<td>17:00</td>
		      	<td></td>
		    	<td></td>
		    	<td></td>
		    </tr>
		-->
		</tbody>
	</table>
</div>

